/* makes sizing simpler */
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
/* min body height */
/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (5%)[20];
      grid-template-columns: repeat(20, 5%);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'yeseva one',serif;
  color: #092353;
}

h2 {
  font-size: 48px;
}

p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #092353;
}

.nav_bar {
  margin-top: 10px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 18;
  grid-column: 2/20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
}

.nav_bar nav a {
  margin: 0 30px;
  color: #092353;
  text-decoration: none;
  font-family: 'yeseva one';
  -webkit-transition: ease .25s;
  transition: ease .25s;
}

.nav_bar nav a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: #F1915D;
}

@media screen and (max-width: 430px) {
  .nav_bar nav {
    position: absolute;
    top: -250px;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 30px;
    -webkit-transition: top .3s ease;
    transition: top .3s ease;
  }
  .nav_bar nav.active {
    top: 0;
  }
  .nav_bar nav a {
    display: block;
    margin-bottom: 20px;
  }
}

.nav_bar .hamburger {
  width: 35px;
  height: 35px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
  border: none;
  display: none;
  position: relative;
}

@media screen and (max-width: 430px) {
  .nav_bar .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav_bar .hamburger span {
  display: block;
  width: 100%;
  background-color: #092353;
  height: 5px;
}

.intro {
  margin-top: 50px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 18;
  grid-column: 2/20;
}

.intro h2 {
  font-size: 48px;
}

@media screen and (max-width: 430px) {
  .intro h2 {
    font-size: 30px;
  }
}

.intro .__paragraph {
  padding-left: 40px;
}

.intro .__paragraph .___one {
  font-style: italic;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 430px) {
  .intro .__paragraph .___one {
    font-size: 30px;
  }
}

.work_section {
  -ms-grid-column: 2;
  -ms-grid-column-span: 18;
  grid-column: 2/20;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  margin-top: 50px;
}

@media screen and (max-width: 430px) {
  .work_section {
    display: block;
  }
}

.work_section .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: solid 2px #1F8293;
  margin: 10px;
}

.work_section .project a {
  text-decoration: none;
  padding: 15px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

@media screen and (max-width: 430px) {
  .work_section .project a h2 {
    font-size: 30px;
  }
}

.work_section .project a:hover {
  background-color: #F1915D;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.work_section .project a:hover h2, .work_section .project a:hover p {
  -webkit-transition: all 0.5 ease;
  transition: all 0.5 ease;
  color: white;
}

.work_section .project p {
  font-style: italic;
}

.work_section .project p::before {
  content: '';
  width: 100px;
  height: 2px;
  background-color: #092353;
  display: block;
  margin-block: 10px;
}

.work_section .project p::before :hover {
  -webkit-transition: all 0.5 ease;
  transition: all 0.5 ease;
  color: white;
}

.contact {
  -ms-grid-column: 2;
  -ms-grid-column-span: 18;
  grid-column: 2/20;
  margin-top: 50px;
}

.contact h2 {
  text-align: center;
}

.contact .social_medias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 430px) {
  .contact .social_medias {
    display: block;
  }
}

.contact .social_medias .sm {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  margin-bottom: 100px;
}

@media screen and (max-width: 430px) {
  .contact .social_medias .sm {
    margin-bottom: 20px;
  }
}

.contact .social_medias .sm a {
  text-decoration: none;
  text-align: center;
}

.contact .social_medias .sm a img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.about_me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 3;
  -ms-grid-column-span: 16;
  grid-column: 3/19;
  margin-top: 60px;
}

@media screen and (max-width: 430px) {
  .about_me {
    display: block;
    margin-top: 10px;
  }
}

.about_me .blurb {
  margin-right: 100px;
}

@media screen and (max-width: 430px) {
  .about_me .blurb {
    margin: auto;
  }
}

@media screen and (max-width: 430px) {
  .about_me .blurb .intro {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.about_me .blurb .intro .header {
  margin-bottom: 20px;
}

.about_me .blurb .intro .bio {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 430px) {
  .about_me .blurb .mobile_contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about_me .blurb .mobile_contact .resume {
    margin-bottom: 20px;
  }
}

.about_me .blurb .contact_smaller {
  border: solid 2px #1F8293;
  padding: 20px;
  margin-bottom: 40px;
}

@media screen and (max-width: 430px) {
  .about_me .blurb .contact_smaller {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .about_me .blurb .contact_smaller h2 {
    font-size: 30px;
  }
}

.about_me .blurb .contact_smaller .social_medias .sm {
  margin-top: 10px;
}

.about_me .blurb .contact_smaller .social_medias .sm a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

.about_me .blurb .contact_smaller .social_medias .sm a img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 20px;
}

.about_me .resume {
  font-family: yeseva one;
  font-size: 32px;
  text-decoration: none;
  border: solid 2px #1F8293;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 65px;
  padding-right: 60px;
  color: #092353;
  -webkit-transition: ease .25s;
  transition: ease .25s;
}

@media screen and (max-width: 430px) {
  .about_me .resume {
    padding-left: 0px;
    padding-right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    font-size: 30;
  }
}

.about_me .resume:hover {
  color: white;
  background-color: #092353;
}

.about_me img {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.about_me img.mobile {
  display: none;
}

@media screen and (max-width: 430px) {
  .about_me img {
    display: none;
  }
  .about_me img.mobile {
    display: block;
  }
}

.bookmark {
  -ms-grid-column: 2;
  -ms-grid-column-span: 18;
  grid-column: 2/20;
  margin-top: 50px;
}

.bookmark::after {
  content: '';
  width: 150px;
  height: 2px;
  background-color: #092353;
  display: block;
  margin-block: 10px;
}

.bookmark::after :hover {
  -webkit-transition: all 0.5 ease;
  transition: all 0.5 ease;
  color: white;
}

.trainsit_intro {
  -ms-grid-column: 3;
  -ms-grid-column-span: 16;
  grid-column: 3/19;
  margin-bottom: 50px;
}

.trainsit_intro h2 {
  margin-top: 15px;
  margin-bottom: 40px;
}

.trainsit_logo_work {
  -ms-grid-column: 4;
  -ms-grid-column-span: 14;
  grid-column: 4/18;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 70px;
}

.trainsit_logo_work p {
  margin-top: 20px;
}

@media screen and (max-width: 430px) {
  .trainsit_logo_work {
    display: block;
  }
  .trainsit_logo_work p {
    margin-top: 40px;
  }
}

.trainsit_layout {
  -ms-grid-column: 4;
  -ms-grid-column-span: 14;
  grid-column: 4/18;
  margin-bottom: 50px;
}

.trainsit_layout p {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
/*# sourceMappingURL=index.css.map */